.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 5%;
}

.profile-pic img {
  /* margin-top: 20px; */
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 10px; /* Adjust as needed */
}

.grid-container > div {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
}

/* .profile-info {
    width: 100%;
} */

/* .profile-info h2 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .profile-info p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
} */

/* .profile-info p strong {
    width: 150px;
} */
