/* src/pages/Login.css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.login-container {
  justify-content: center;
  /* margin-top: 23px; */
  margin-top: -43px;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.web-image {
  margin-bottom: 54px;
}
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.btn {
  background-color: #4d6cd9;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border-radius: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #384f9f;
}

.extra-links {
  margin-top: 1rem;
}

.extra-links a {
  display: block;
  color: #4d6cd9;
  text-decoration: none;
  margin-top: 0.5rem;
}

.extra-links a:hover {
  text-decoration: underline;
}
.password-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}
