body{
    background-color: whitesmoke;
}
.container-flex{
    margin-top: 56px;
    display:flex;
}
main{
    margin-left: 228px;
    width: 100%;
    padding: 20px;
}
.sidebar{
    font-size: 12px;
    margin-top: 20px;
    position: fixed;
    background: white;
    color: #696969;
    height: 85vh;
    width: 70px;
    transition: all 0.5s;
    margin-left: 23px;
    border-radius: 5% 5% 5% 5%;
    border: 0.5px solid lightgray;
    overflow: hidden;
}
.top_section{
    margin-top: 23px;
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    font-size: 8px;
    text-decoration: none;
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.4s;
    border-bottom:0.5px solid lightgray; 
}
.link:hover{
    background-color: rgb(236, 235, 235);
    overflow: hidden;
    color: #000;
    transition: all 0.4s;
   
}
.active{
    background-color: #C3C3C3;
    color: #000;
}
.icon, .link_text{
    font-size: 17px;
}
.icon{
    color: #4D6CD9;
}