.table-striped {
    max-height: 545px;
    overflow-y: auto;
    display: block;
    width: 100%;
  }
  
  .table thead th {
    position: sticky;
  
    top: 0;
    background-color: white;
    z-index: 1;
  }